#form{
    border: solid 1px;
    width: 30%;
    margin: 0 auto;
    padding: 24px;
}
.input{
    padding: 12px 16px;
    width: 30%;
    border-radius: 5px;
    border:solid 1px;
}
button{
    padding: 8px 240px;
    border-radius: 5px;
    color: white;
    background-color:rgb(black);
    border: none;
}